.fill-height {
    height: 100vh !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.home-container{
    border: 1px black ;
    height: 80vh !important;
    overflow-x: hidden;
    overflow-y: hidden;
    background: rgb(80, 80, 80, 0.9);
    padding-bottom: 35px;
    border-radius: 25px;
}

.friend-sidebar {
    height: 100vh !important;
    overflow-x: hidden;
    overflow-y: auto;
}

.friend-list-container{
    max-height: 40vh !important;
    overflow: hidden;
    overflow-y: auto;
    padding-bottom: 35px;
}


.chat-item {
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    padding: 5px 20px;
}

.chat-footer{
    padding: 10px;
}

.profile-container{
    text-align: center;
    background: rgb(50,50,50, 0.9);
    border-radius: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
}

.profile-nick-name{
    color: #FFFFFF;
    font-family: Noto-Serif;
    line-height: 60px;
}

.profile-logout{
    padding: 5px !important;
    height: 30px !important;
    margin: auto;
    width: 60% !important;
}

.fix-height{
    height: 80vh !important;
}

.fix-height-chat{
    height: calc(80vh - 75px)
}